<div
  class="panel-menu"
  [class]="'panel-menu--' + variant() + ' mi-look-' + variant()"
  [class.panel-menu--collapsed]="collapsed()"
>
  @for (panel of model(); track $index) {
    @let open = openPanels().includes(panel);
    <div class="pm-panel" [class.pm-panel--open]="open">
      <np-menu-item
        class="pm-header"
        [item]="panel"
        chevron="chevron-down"
        [open]="open"
        [tree]="true"
        [active]="panel === selected()"
        [attr.title]="collapsed() ? panel.label : null"
        (click)="toggle($event, panel, openPanels, !multiple())"
      />
      @if (panel.items) {
        <ng-container
          [ngTemplateOutlet]="collapse"
          [ngTemplateOutletContext]="{ $implicit: panel.items, open, depth: 0 }"
        />
      }
    </div>
  }
</div>

<!-- Animated wrapper: grid rows go 0fr -> 1fr. Collapsed content is inert so it can't be tabbed to -->
<ng-template #collapse let-items let-open="open" let-depth="depth">
  <div class="pm-collapse" [class.pm-collapse--open]="open" [attr.inert]="open ? null : ''">
    <div class="pm-collapse-inner">
      <ul class="pm-tree" [class.pm-tree--root]="!depth">
        @for (item of items; track $index) {
          @let expanded = expandedItems().includes(item);
          <li>
            <np-menu-item
              [item]="item"
              chevron="chevron-right"
              [open]="expanded"
              [tree]="true"
              [active]="item === selected()"
              [style.--mi-pad]="'8px 12px 8px ' + (12 + depth * 18) + 'px'"
              (click)="toggle($event, item, expandedItems)"
            />
            @if (item.items) {
              <ng-container
                [ngTemplateOutlet]="collapse"
                [ngTemplateOutletContext]="{
                  $implicit: item.items,
                  open: expanded,
                  depth: depth + 1,
                }"
              />
            }
          </li>
        }
      </ul>
    </div>
  </div>
</ng-template>
