<header
  class="np-header"
  [class]="'np-header--' + variant()"
  [class.np-header--scrolled]="scrolled()"
>
  <div>
    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" fill-rule="evenodd">
        <path
          d="M10 0h12a10 10 0 0110 10v12a10 10 0 01-10 10H10A10 10 0 010 22V10A10 10 0 0110 0z"
          fill="#FFF"
        />
        <path d="M5.3 10.6l10.4 6v11.1l-10.4-6v-11zm11.4-6.2l9.7 5.5-9.7 5.6V4.4z" fill="#555AB9" />
        <path d="M27.2 10.6v11.2l-10.5 6V16.5l10.5-6zM15.7 4.4v11L6 10l9.7-5.5z" fill="#91BAF8" />
      </g>
    </svg>
    <h1>{{ brand() }}</h1>
  </div>
  @if (links().length) {
    <nav class="np-header__nav" [class.np-header__nav--open]="menuOpen()" aria-label="Main">
      @for (link of links(); track link) {
        <a
          class="ui-btn"
          [class]="active() === link.label ? 'ui-btn--primary' : 'ui-btn--text'"
          [href]="link.url ?? '#'"
          [attr.aria-current]="active() === link.label ? 'page' : null"
          (click)="go(link, $event)"
        >
          @if (link.icon) {
            <np-icon [name]="link.icon" [size]="16" />
          }
          {{ link.label }}
        </a>
      }
    </nav>
  }
  <div class="np-header__actions">
    @if (user(); as user) {
      @if (avatar()) {
        <np-avatar [name]="user.name" size="small" />
      }
      <span class="welcome" [hidden]="avatar()"
        >Welcome, <b>{{ user.name }}</b
        >!</span
      >
      <np-button size="small" label="Log out" (clicked)="logout.emit($event)" />
    } @else {
      <np-button size="small" label="Log in" (clicked)="login.emit($event)" />
      <np-button
        size="small"
        label="Sign up"
        [primary]="true"
        [severity]="variant() === 'gradient' ? 'contrast' : ''"
        (clicked)="createAccount.emit($event)"
      />
    }
    @if (links().length) {
      <button
        type="button"
        class="ui-btn ui-btn--text ui-btn--icon np-header__toggle"
        aria-label="Menu"
        [attr.aria-expanded]="menuOpen()"
        (click)="menuOpen.set(!menuOpen())"
      >
        <np-icon [name]="menuOpen() ? 'x' : 'menu'" [size]="20" />
      </button>
    }
  </div>
</header>
